<ion-view view-title="Meals">
  <ion-content class="padding">
      
      <div class="list card item-card" ng-repeat="meal in meals">
          
          
          
          </div>
   
   
  </ion-content>
</ion-view>
